@charset "UTF-8";

* {
  box-sizing:border-box;
}

body , html{
  padding: 0;
  margin: 0;
  background-color: #ecf0f1
}

 #accueil {
  text-align: left;
  color: #8B0000;
  font-family: sans-serif;
  font: helvetica;
  font-weight: bold;
 }


#présentationdusite {
  text-align: left;
  color: #8B0000;
  font-family: sans-serif;
  font: helvetica;
  font-size: 17px;
}

a.lien {
  text-decoration: none;
  color: blue;
}

.lien, a:hover {
  color: #B30000;
  text-decoration: underline;
}

.lien, a:active {
  color: #ff3333;
  text-decoration: underline;
}

div.barredenavigation, ul.barredenavigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800E13;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: +1;
}
.biglogo {
  width: 288px;
  height: 110px;
}
a.biglogo {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px
}
.logo {
  width: 30px;
  height: 30px;
}
a.logo {
  padding-top: 0px;
  padding-bottom: 0px;
}

li.barredenavigation {
    float: left;
}

li.barredenavigation a {
    display: block;
    height: 30px;
    width: auto;
    color: white;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 65px;
    padding-left: 16px;
    padding-right: 16px;
    border-right: 1px solid white;
    font-size: 18px;
    text-decoration: none;
}

li a:hover {
  background-color: #640D15;
}

#descriptionentreprise {
  text-align: left;
  color: #8B0000;
  font-family: sans-serif;
  font: helvetica;
  font-size: 17px;
}

#plâtrerie {
	background-color:#D1D0D0;
  color: #8B0000;
  font-family: sans-serif;
  font: helvetica;
  text-align: center;
  border-bottom: 4px solid #38040E;
  border-top: 4px solid #38040E;
}

#peinture {
  background-color:#640C14;
  color:white;
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}

#marché {
  color: #8B0000;
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}

#garanties {
  background-color:#D1D0D0;
  color: #8B0000;
  font-family: sans-serif;
  font: helvetica;
  text-align: center;
  padding-top: 2px;
}

#références {
  color: #8B0000;
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}

#fournisseurs {
  color: #8B0000;
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}

#adresse {
  background-color:#ecf0f1;
  color: #8B0000;
  font-family: sans-serif;
  font: helvetica;
  text-align: center;
}

#map {
  background-color: #D1D0D0;
  border-top: 2px solid #8B0000;
  border-bottom: 2px solid #8B0000;
}

.demande {
  height:500px;
  font-family: sans-serif;
  font: helvetica;
  color: #8B0000;
  display:table;
  font-size:16px;
  font-style:normal;
  font-weight:400;
  text-align:left;
  background-color: #D1D0D0;
  border-bottom: 2px solid #8B0000;
  display: flow-root;
}

.information {
  float: left;
  width: 304px;
  height: 500px;
  background-color:#6A0314;
  padding: 10px;
}

.information p, h2, ul2 {
  color: #ecf0f1;
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}

.question {
  background-color:#6A0314;
  float: right;
  width: 304px;
  height: 500px;
  padding: 10px;
}

.question p, h2 {
  color: #ecf0f1;
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}

.form {
  padding-left: 450px;
}

input, textarea {
	/*déjà en inline-block*/
	width: 150px;
	padding: 4px;
	vertical-align: top;
}
#sujet { width: 250px; }
textarea {
	width: 300px;
	height: 5em;
}
label {
	display: inline-block;
	width: 150px;
	margin-right: 20px;
	vertical-align: top;
	text-align: right;
}

/* Bouton pop-up */
.button_container{
  width: 100%;
  text-align: center;
}

#button_modal{
  height: 50px;
  width: 300px;
  background-color: #8B0000;
  color: #ffffff;
  font-family: helvetica;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 200px;
}

#modal {
  height: 300px;
  width: 30%;
  background-color: #ffffff;
  font-family: helvetica;
  text-align: center;
  color: #95a5a6;
  position: absolute;
  top: 300px;
  left: 35%;
}



#modal h1 {
  padding-top: 60px;
}
