/*future page CSS du site*/

 #hautdelapage {

  text-align: left;
  color: #8B0000;
  font-family: sans-serif;
  font: helvetica;
  font-weight: bold;
 }


#présentationdusite
{
  text-align: left;
  font-family: sans-serif;
  font: helvetica;
  font-size: 17px;
}

ul.barredenavigation {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8B0000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li.barredenavigation {
    float: left;
}

li.barredenavigation a {
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #7D131E;
}

/*CSS de l'exemple de carousel, à modifier plus tard*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Boutons suivant et précédent */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Bouton image suivante */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Le texte de description des photos */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Les points */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#descriptionentreprise {
  text-align: left;
  font-family: sans-serif;
  font: helvetica;
  font-size: 17px;
}

#plâtrerie {
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}

#peinture {
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}

#marché
{
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}

#garanties {
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}

#références
{
  text-align: left;
  font-family: sans-serif;
  font: helvetica;
  font-size: 17px;
}

#liens
{
  font-family: sans-serif;
  font: helvetica;
  text-align: left;
}
prout
